<h3>Summernote editor</h3>

<div>
  <button (click)="enableEditor()" [disabled]="!editorDisabled">Enable</button>
  <button (click)="disableEditor()" [disabled]="editorDisabled">Disable</button>
</div>

<div [formGroup]="form">
  <div formControlName="html" id="campoDiTesto"
       [ngxSummernote]="config"
       [ngxSummernoteDisabled]="editorDisabled"
       (blur)="onBlur()">
   </div>

  <h3>HTML</h3>
  <div [ngxSummernoteView]="form.get('html').value"></div>

  <h3>Code</h3>
  <pre>{{form.get('html').value}}</pre>

  <!--
  <input type = "text" 
  name = "email" 
  placeholder = "email" 
  formControlName="email" 
  #email>
  <br><br><br><br>
  -->
   
</div>

<!-- drag drop inizio -->

<div class="container">
  <h2>Movies</h2>
  <div 
  cdkDropList 
  #moviesList="cdkDropList" 
  [cdkDropListData]="MoviesList"
  [cdkDropListConnectedTo]="[doneMovieList]" 
  class="movie-list" 
  (cdkDropListDropped)="onDrop($event)">
  <div class="movie-block" *ngFor="let moviesList of MoviesList" cdkDrag>{{moviesList}}</div>
</div>
</div>

<div class="container">
  <h2>Movies Watched</h2>
  <div 
  cdkDropList 
  #doneMovieList="cdkDropList" 
  [cdkDropListData]="MoviesWatched"
  [cdkDropListConnectedTo]="[moviesList]" 
  class="movie-list" 
  (cdkDropListDropped)="onDrop($event)">
  <div class="movie-block" *ngFor="let moviesWatched of MoviesWatched" cdkDrag>{{moviesWatched}}</div>
</div>
</div>